on:
  push:
    branches: [ master ]
  workflow_dispatch:
# on: [push, workflow_dispatch]
# on: [workflow_dispatch]
name: Test, Build and Release apk
jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.7.8+hotfix.4'
    - run: flutter pub get
    - run: flutter test
    - run: flutter build apk --debug
    - uses: actions/upload-artifact@v2      
      with:
        name: release-apk
        path: build/app/outputs/apk/release/*.apk
    
